*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: gainsboro;
}
:root {
    --rotateafter : rotate(-40deg)
}
#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #fff;
}

nav{
    background-color: black;
    display: flex;
    width: 100%;
    align-items: center;
    height: 60px;
    top: 0px;
    position: fixed;
    border: none;
    padding-left: 10px;
    z-index: 10;
}
nav:hover {
    background-color: rgb(33, 33, 33);
}
nav:hover header h2{
    box-shadow: 0px 0px 30px 10px blue;
    background-color: white;
    animation: textlogo 2s infinite alternate;
}

nav header h2 {
    color: #45f3ff;
    font-weight: 900;
    box-shadow: 0px 0px 70px 10px blue;
    border: none;
    background-color: black;
    pointer-events: none;
    width: 160px;
    animation: textlogo 2s infinite alternate;
    border-radius: 5px;
}
@keyframes textlogo {
    to {
        background-color: white;
        box-shadow: 0px 0px 30px 10px blue;
    }
}
nav form {
    width: 45%;
    height: 40px;
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    position: relative;
}
nav form button {
    list-style: none;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border: 2px solid blue;
    border-radius: 10px;
    font-weight: 800;
}
nav form button:hover i {
    color:black;
}
nav form button:hover {
    box-shadow: 0 0 60px blue;
    background-color: white;
    border: 2px solid black;
}
nav form input {
    height: 30px;
    width: 70%;
    position: relative;
    padding-left: 10px;
    outline: none;
    border-radius: 5px;
    border: none;
}
nav .box-user {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 150px;
    justify-content: space-between;
}
.box-user .menu-title{
    position: relative;
    padding: 10px;
    border-radius: 10px;
    width: 50px;
    text-align: center; 
    cursor: pointer;
    border-bottom: 1px solid white;
}
.box-user .menu-title a {
    text-decoration:  none;
    font-size: 15px ;
    color: white;
}
.box-user li:hover{
    background-color: white;
}
.box-user li:hover a {
    color: black;
}
.box-user li:hover ul li a {
    color: #fff;
}
.box-user li ul li:hover a {
    color: black;
    border-bottom: 2px solid black;
    
}
.box-user li .menu-item{
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    left:0px;
    top: 45px;
    background-color: black;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s
}
.box-user li ul li {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
}
.box-user li:hover .menu-item {
    max-height: 60px;
}


#menu {
    width: 50px;
    height: 30px;
    color:white;
    display: none;
    background-color: black;
}
#menu:hover {
    background-color: white;
    color: black;
}
ul {
    list-style: none;
}

.bodylist {
    margin-top: 70px;
    padding: 10px;
    list-style:none;
    width: 100%;
    left: 15%;
    background-color: transparent;
    border-radius: 10px;
    
}
.bodylist .bodyvalue {
    border: 2px solid blue;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: 5%;
}
.bodylist .bodyvalue:hover {
    border: 2px solid orange;
    box-shadow: 0 0 20px orange;

}
.bodylist .bodyvalue header {
    padding-bottom: 5px;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
}
.bodyvalue header p {
    color: #ff6f0f;
}
.bodylist .valueControlAndShow {
    display: flex;
}
.bodylist li header {
    text-align: center;
}
.bodylist .controler {
    width: 30%;
    border-right: 2px solid blue;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    padding-bottom: 10px;
    border-radius: 10px;
}

.controler .title {
    margin-top: 25px;
    font-weight: 600;
    font-size: 17px;
}
.showvalue {
    width: 70%;
    height:200px;
    display: flex;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.showvalue .value {
    position: relative;
    height: 110px;
    width: 220px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    /* background-color: red; */
}
.showvalue .value::after {
    content: '';
    height: 140px;
    width: 140px;
    position: absolute;
    border: 20px solid beige;
    border-radius: 50%;
    top: 20px;
    border-color: #fff #fff red red;
    transform: var(--rotateafter);
    transition: transform .5s;
    z-index: 0;
    box-shadow: inset 0 0 20px rgb(224, 222, 222),0 0 20px rgb(48, 43, 43);
}
.showvalue .namesensordata {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-weight: 800;
}
.showvalue .namesensordata p:nth-child(1) {color:violet}
.showvalue .namesensordata p:nth-child(2) {color:royalblue}
.value .etvalue {
    background-color: #45f3ff;
    height: 60px;
    width: 60px;
    border: 40px solid yellow;
    position: absolute;
    bottom: -70px;
    border-radius: 50%;
    box-shadow: inset 0 0 20px #fff;
    transform: var(--rotateafter);
    border-color: #fff #fff yellow yellow;
    transition: transform .5s
}
.showvalue .value .etvalue .kt {
    height:184px;
    transform: rotate(-45deg);
    width: 2px;
    background-color: black;
    position: absolute;
    top: -62px;
    left: 29px;
}
.line .division {
    height: 5px;
    width: 2px;
    background-color: black;
}
.showvalue .value .line {
    z-index: 2;
    top: 0px;
    position: absolute;
    font-size: 15px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    color: rgb(48, 43, 43);
}
.value span {
    z-index: 2;
    position: absolute;
    bottom: -5px;
    background-color: #45f3ff;
    width: 20px;
    height: 20px;
    font-size: 15px;
    border-radius: 50%; 
    text-align: center;
    justify-content: center;
    font-weight: 600;
}
.value .line:nth-child(1){transform: rotate(-85deg);}
.value .line:nth-child(2){transform: rotate(-68deg);}
.value .line:nth-child(3){transform: rotate(-51deg);}
.value .line:nth-child(4){transform: rotate(-36deg);}
.value .line:nth-child(5){transform: rotate(-19deg);}
.value .line:nth-child(6){transform: rotate(-2deg);}
.value .line:nth-child(7){transform: rotate(15deg);}
.value .line:nth-child(8){transform: rotate(32deg);}
.value .line:nth-child(9){transform: rotate(49deg);}
.value .line:nth-child(10){transform: rotate(66deg);}
.value .line:nth-child(11){transform: rotate(84deg);}
.value .line.inval:nth-child(1) {color:#279923;}
.value .line.inval:nth-child(2) {color:#279923;}
.value .line.inval:nth-child(3) {color:#2eee75;}
.value .line.inval:nth-child(4) {color:#bd9629;}
.value .line.inval:nth-child(5) {color:#bd9629;}
.value .line.inval:nth-child(6) {color:#ff8e42;}
.value .line.inval:nth-child(7) {color:#ff6f0f;}
.value .line.inval:nth-child(8) {color:#ff4b0f;}
.value .line.inval:nth-child(9) {color:#ff1b0f;}
.value .line.inval:nth-child(10) {color:#ff1b0f;}
.value .line.inval:nth-child(11) {color:#ff1b0f;}


.switch-body {
    height: 25px;
    width: 60px;
    background-color: black;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 3px;
    margin-top: 10px;
    transition: .5s;
    cursor: pointer;
}
.switch-body:hover {
    border: 2px solid red;
}

.switch-body .switch-value {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50% 0 0 50%;
    box-shadow: 0 0 10px yellow;
    transition: margin .5s;
    animation: switch-b ease 0.5s;
}
@keyframes switch-b{
    0% {
        transform: rotate(0deg);
    }
    50% {
        border-radius: 50%;
        transform: rotate(-90deg);

    }
    100% {
        border-radius: 40%;
        transform: rotate(-180deg);
    }
}

.switch-body.on {
    background-color: #fff;
    border: 2px solid orange;
}
.switch-body.on:hover {
    border: 2px solid black;
}
.switch-body.on .switch-value {
    background-color: #45f3ff;
    margin-left: 35px;
    box-shadow: 0 0 20px black;
    border-radius: 0 50% 50% 0;
    animation: switch-r ease 0.5s;
}
@keyframes switch-r {
    0% {
        transform: rotate(0deg);
    }
    50% {
        border-radius: 50%;
        transform: rotate(90deg);

    }
    100% {
        border-radius: 40%;
        transform: rotate(180deg);
    }
}
