@media only screen and (max-width: 63.9375em) {

}

/* mobile */
@media only screen and (max-width: 42.1875em) {
    nav ul {
        width:70%;
    }
    nav {
        display:flex;
    }
    .menu-item{
        width:200px;
        height:45px;
        display:flex;
        align-items:center;
        border: 1px solid white;
    }
    #account{
        position:absolute;
        top:65px;
    }
    #data{
        position:absolute;
        top:115px;
    }
    #logout {
        position:absolute;
        top:165px;
    }
    .box-user .menu-item p{
        margin-left:20px;
        color: yellow;
    }
    .box-user .menu-item:hover p {
        color: black;
    }
    .box-user .menu-item b {
        display:unset;
        color:black;
        margin-left: 10px;
    }
    .box-user .menu-item span {
        display:unset;
    }
    nav header h2 {
        font-size: 15px;
        width:fit-content;
        width: 100px;
    }
    nav .box-user{
        background-color: rgba(78, 85, 85, 0.5);
        display:flex;
        flex-direction:column;
        justify-content: unset;
        position: absolute;
        width:200px;
        height:215px;
        border-radius:10px;
        left:-20px;
        top:60px;
        border:2px solid white;
        overflow:hidden;
        max-width:0px;
        transition: max-width .5s;
    }
    nav .box-user.openmenu {
        max-width: 200px;
    }
    .box-user .userIn4 {
        position:absolute;
        left:-20px;
        top:5px;
    }
    .box-user hr {
        display:unset;
        border:1px solid white;
        width:200px;
        position:absolute;
        top:60px;
    }
    .box-user .userIn4 {
        background:transparent;
    }
    nav #menu {
        display: flex;
        margin-right: 5px;
        border: 1px solid white;
        border-radius:10px;
        justify-content: center;
        align-items: center;
    }
    .bodylist{
        padding: unset;
        left: unset;
    }
    .bodylist .bodyvalue{
        width: 100%;
        padding: unset;
        margin-left: unset;
    }
    .bodylist .controler{
        width: 40%;
        display: flex;
        align-items:safe;
    }
    .controler .title{
        margin-top: 40px;
    }
    .showvalue {
        display: unset;
        width: 60%;
        height:240px;
    }
    .showvalue .value::after {
        height: 70px;
        width: 70px;
        border: 10px solid beige;
        border-radius: 50%;
        top: 65px;
        border-color: #fff #fff red red;
    }
    .value .etvalue {
        height: 30px;
        width: 30px;
        border: 20px solid yellow;
        bottom: -35px;
        border-color: #fff #fff yellow yellow;
    }
    .showvalue .value .etvalue .kt {
        height:95px;
        top: -32px;
        left: 14px;
    }
    .showvalue .value .line {
        font-size: 8px;
        height: 120px;
        top:49px;
    }
    .line .division {
        height: 2px;
        width: 1px;
    }
    .value span {
        background-color: #45f3ff;
        width: 10px;
        height: 20px;
    }
    .showvalue .namesensordata {
        flex-direction: column;
        align-items: center;
        height: 60%;
        justify-content: space-between;;
    }
}
@media only screen and (min-width: 46.12em) and (max-width: 63.9375em) {
    /* .menu-item{
        display:none;
    } */
    .showvalue {
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .showvalue .namesensordata {
    }
    
}