*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
section {
    min-height: 100vh;
    background: url(../../Assets/backgrounglogin.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    display:grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}
.BoxLogin {
    border: 4px solid rgba(225, 225, 225, 0.1);
    height: 500px;
    width: 400px;
    transition: .3s;
    border-radius: 5px;
    overflow: hidden;
}
h2 {
    color: #fff;
    font-size: 40px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BoxLogin:hover {
    box-shadow: 0 0 60px blue;
    border-radius: 15px;
}
.BoxLogin:hover h2 {
    color: #45f3ff;
}
.boxValue {
    width: 100%;
    height: 100%;
}
.buttonBox {
    background-color:transparent;
    box-shadow: 0 0 20px 10px rgb(181, 219, 237);
    display:flex;
    border-radius:10px;
    height: 10%;
    width: 50%;
    margin-left: 25%;
    position: relative;
}
.boxLogin {
    height: 90%;
    margin-top: 1%;
}
.formLogin {
    height: 100%;
}
.formLogin .inputBox {
    height: 20%;
    margin-bottom: 2%;
}
.inputBox input{
 height: 40%;
 width: 80%;
 color:#fff;
 font-size: 15px;
 border: none;
 outline: none;
 background-color: transparent;
 margin-top: 7%;
 padding-left: 5%;
}
.formLogin .inputBox label {
    position: absolute;
    color: transparent;
    font-weight: 500;
    font-size: 14px;
    pointer-events: none;
    transition: .5s;
    transform: translate(-320px,39px);
}
/* .formLogin .inputBox input:focus ~ label,
.formLogin .inputBox input:invalid ~ label{
    color: #45f3ff;
    transition: .5s;
    transform: translate(-320px,15px);
} */
.inputBox input::placeholder {
    color: rgba(225, 225, 225, 0.7);
}

.icons{
    position: absolute;
    margin-top: 38px;
    font-size: 110%;
    color: rgba(225, 225, 225, 0.7);
}
.error{
    position: absolute;
    display: flex;
    margin-left: 30px;
    color: red;
}
#inputPass {
    border-bottom: red;
}
.lineError {
    height: 2px;
    background-color: #fff;
    width: 350px;
    margin-left: 30px;
}
.formLogin .lost {
    display: flex;
    justify-content: space-evenly;

}
.formLogin .btnlogin {
    background-color: gainsboro;
    height: 10%;
    width: 80%;
    margin-top: 10px;
    border: none;
    border-radius: 10px;

}
.btnlogin:hover {
    background: linear-gradient(to right, yellow, red)
}
.orlogin {
    display: flex;
    height: 4%;
}
hr{
    flex-grow: 1;
    background-color: black;
    margin-top: 4%;
    border: black;
}

 /* chu xong nha cu sang */
b {
    color: #fff;
}
.fb-gg {
    background-color: burlywood;
}
